@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.cnt::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.cnt::-webkit-scrollbar-track {
    background: #ffffff3c;
}

/* Handle */
.cnt::-webkit-scrollbar-thumb {
    background: #cb0091db;
    border-radius: 10px;
}

/* Handle on hover */
.cnt::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.cnt {
    box-shadow: 0 -2px 12px 0px rgb(160 160 160 / 52%);
    transform: rotateX(180deg);
}
.content {
    transform:rotateX(180deg);
}


